<mdb-carousel [controls]="true" [indicators]="true">
  <mdb-carousel-item>
    <img
      src="assets/bannerImages/freeDiscount.png"
      class="d-block w-100"
      alt="..."
    />
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="assets/bannerImages/hydroponicGrown.png"
      class="d-block w-100"
      alt="..."
    />
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="assets/bannerImages/grandOpening.png"
      class="d-block w-100"
      alt="..."
    />
  </mdb-carousel-item>
</mdb-carousel>
<!--the announcement-->
<div style="background:#EF5B5B ">
  <a class="ms-2" (click)="announcementCollapse.toggle()" role="button"
     [attr.aria-expanded]="!announcementCollapse.collapsed"
     aria-controls="collapseAnnouncement" style="color: white">
    DELIVERY DELAY NOTICE :</a>
  <div style="color: white" id="collapseAnnouncement" mdbCollapse #announcementCollapse="mdbCollapse">
    <div class="mb-2 ms-2 me-2">
      In light with announcement on 26th October 2020 with regards of the extension of Conditional Movement Control Oder
      (CMCO) at Kuala Lumpur, Selangor and Putrajaya,please be informed that there will be a delay in delivery for ALL
      orders made between
      <span style="font-weight: 600;">14th October till 9th November 2020</span>.
    </div>
  </div>
</div>
<!--the category-->
<div>
  <a role="button" (click)="categoryCollapse.toggle()" [attr.aria-expanded]="!categoryCollapse.collapsed"
     aria-controls="collapseCategory">
    <div class="container-fluid">
      <div class="col-12 mt-2 mb-2 form-group">
        <div class="row">
          <div class="col-4 pr-0">
            <hr style="border: 0.5px dashed #000000;">
          </div>
          <div class="col-4 mt-2">
            <p class="cat-title">Categories</p>
          </div>
          <div class="col-4 pl-0">
            <hr style="border: 0.5px dashed #000000;">
          </div>
        </div>
      </div>
    </div>
  </a>
  <div style="color: white" id="collapseCategory" mdbCollapse #categoryCollapse="mdbCollapse">
    <div class="mb-2 ms-2 me-2">

    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="col-12 mt-2 mb-2 form-group">
    <div class="row">
      <div class="col-4 pr-0">
        <hr style="border: 0.5px dashed #000000;">
      </div>
      <div class="col-4 mt-2">
        <p class="cat-title">Top Selling</p>
      </div>
      <div class="col-4 pl-0">
        <hr style="border: 0.5px dashed #000000;">
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="card col-5 ms-2 me-2 mb-2">
      <img src="assets/productImages/asparagus.png" class="card-img-top mb-2" alt="product-image"/>
        <h5 class="card-title product-title mt-3">THAILAND ASPARAGUS</h5>
        <p class="card-text product-price">RM 10/KG</p>
        <a href="#!" class="btn home-view-more-btn text-center justify-content-center mb-2">View More</a>
    </div>
    <div class="card col-5 ms-2 me-2 mb-2">
      <img src="assets/productImages/celery.png" class="card-img-top mb-2" alt="Fissure in Sandstone"/>
        <h5 class="product-title text-left mt-3">CELERY</h5>
        <p class="product-price">RM 10/KG</p>
        <a href="#!" class="btn home-view-more-btn justify-content-center mb-2">View More</a>
    </div>
    <div class="card col-5 ms-2 me-2 mb-2">
      <img src="assets/productImages/carrot.png" class="card-img-top mb-2" alt="product-image"/>
      <h5 class="card-title product-title mt-3">CARROT</h5>
      <p class="card-text product-price">RM 10/KG</p>
      <a href="#!" class="btn home-view-more-btn text-center justify-content-center mb-2">View More</a>
    </div>
    <div class="card col-5 ms-2 me-2 mb-2">
      <img src="assets/productImages/baby_kailan.png" class="card-img-top mb-2" alt="Fissure in Sandstone"/>
      <h5 class="product-title text-left mt-3">BABY KAILAN</h5>
      <p class="product-price">RM 10/KG</p>
      <a href="#!" class="btn home-view-more-btn justify-content-center mb-2">View More</a>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="col-12 mt-2 mb-2 form-group">
    <div class="row">
      <div class="col-4 pr-0">
        <hr style="border: 0.5px dashed #000000;">
      </div>
      <div class="col-4 mt-2">
        <p class="cat-title">New Arrival</p>
      </div>
      <div class="col-4 pl-0">
        <hr style="border: 0.5px dashed #000000;">
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="card col-5 ms-2 me-2 mb-2">
      <img src="assets/productImages/bell_paper.png" class="card-img-top mb-2" alt="product-image"/>
        <h5 class="card-title product-title mt-3">GREEN BELL PEPPER</h5>
        <p class="card-text product-price">RM 10/KG</p>
        <a href="#!" class="btn home-view-more-btn text-center justify-content-center mb-2">View More</a>
    </div>
    <div class="card col-5 ms-2 me-2 mb-2">
      <img src="assets/productImages/cabage.png" class="card-img-top mb-2" alt="Fissure in Sandstone"/>
        <h5 class="product-title text-left mt-3">CABBAGE</h5>
        <p class="product-price">RM 10/KG</p>
        <a href="#!" class="btn home-view-more-btn justify-content-center mb-2">View More</a>
    </div>
    <div class="card col-5 ms-2 me-2 mb-2">
      <img src="assets/productImages/cauliflower.png" class="card-img-top mb-2" alt="product-image"/>
      <h5 class="card-title product-title mt-3">CAULIFLOWER</h5>
      <p class="card-text product-price">RM 10/KG</p>
      <a href="#!" class="btn home-view-more-btn text-center justify-content-center mb-2">View More</a>
    </div>
    <div class="card col-5 ms-2 me-2 mb-2">
      <img src="assets/productImages/banana.png" class="card-img-top mb-2" alt="Fissure in Sandstone"/>
      <h5 class="product-title text-left mt-3">MONTEL BANANA</h5>
      <p class="product-price">RM 10/KG</p>
      <a href="#!" class="btn home-view-more-btn justify-content-center mb-2">View More</a>
    </div>
  </div>
</div>



